<div class="header_nav_container">
  <nav class="header_nav">
    <div class="header_nav__inner">
      <div class="container">
        <ul class="header_nav__list nav_list">
          <li class="nav_list__item">
            <a href="/exchange">Exchange Public API</a>
            <menu class="header_nav__submenu submenu">
              <ul class="submenu_list">
                <li class="submenu_list__item"><a href="public-api-getting-started.html">Getting Started</a></li>
                <li class="submenu_list__item"><a href="http://public-api.lykke.com/">API Docs</a></li>
              </ul>
            </menu>
          </li>
          <li class="nav_list__item">
            <a href="/community">HFT API</a>
            <menu class="header_nav__submenu submenu">
              <ul class="submenu_list">
                <li class="submenu_list__item"><a href="hft-api-getting-started.html">Getting Started</a></li>
                <li class="submenu_list__item"><a href="https://hft-api.lykke.com/swagger/ui/">API Docs</a></li>
              </ul>
            </menu>
          </li>
          <li class="nav_list__item">
            <a href="/community">Guides</a>
            <menu class="header_nav__submenu submenu">
              <ul class="submenu_list">
                <li class="submenu_list__item"><a href="integrating-blockchain.html">Integrating a new blockchain</a></li>
              </ul>
            </menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>