<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>Lykke Exchange Public API – Getting Started</title>
  @@include('./common/_headincludes.html')
</head>

<body>

  @@include('./common/_sidebarmenu.html')
  @@include('./common/_headercontainer.html')
  @@include('./common/_headernavcontainer.html')

  <article class="content page">
    <section class="section section--lead section--padding">
      <div class="container text">
        <div class="row">
          <div class="col-sm-8 automargin">
            <h1>Getting Started with the Lykke HFT API</h1>

            <p class="lead text-left">
              Interested in high-frequency or programmatic trading on the Lykke Exchange? These steps will get you going, then you can explore all the available functionality in our <a href="https://hft-api.lykke.com/swagger/ui/" target="_blank">HFT API Docs.</a> The API is currently in the beta testing stage, and throughput is limited to 300 requests/min.
            </p>

            <h3>Getting an API Key</h3>

            <ol class="list_styled">
              <li>
                <p>Use the following link to create an API Wallet: </p>
                <a href="https://wallet.lykke.com/wallets/hft" target="_blank">https://wallet.lykke.com/wallets/hft</a>
              </li>
              <li><p>Create a new API Wallet and save your provided API Key in a secure place</p></li>
              <li>
                <p>Deposit funds from the Trading wallet into your API Wallet: </p>
                <a href="https://wallet.lykke.com/transfer" target="_blank">https://wallet.lykke.com/transfer</a>
              </li>
              <li>
                <p>Confirm the transfer using the LykkeWallet app</p>
                <div class="apps apps--left">
                  <div class="apps_apple"><a href="https://appsto.re/ru/Dwjvcb.i" target="_blank"><img src="/img/appstore-badge.svg" alt="apps_apple" width="170"></a></div>
                  <div class="apps_google"><a href="https://play.google.com/store/apps/details?id=com.lykkex.LykkeWallet" target="_blank"><img src="/img/google-play.svg" alt="apps_google" width="170"></a></div>
                </div>
                <small class="text-muted">IOS 8+ and Android 4.4.2+ required</small>
              </li>
              <li><p>Trade!</p></li>
            </ol>

            <h3>Example trading algorithms</h3>
            <p>There are currently several initiatives in process on Lykke Streams, our collaboration platforms, to develop open-source trading algorithms. Explore the submissions below, and contribute your own!</p>
            <ul>
              <li><a href="https://streams.lykke.com/Project/ProjectDetails/java-simple-trading-algorithm-development" target="_blank">Java</a></li>
              <li><a href="https://streams.lykke.com/Project/ProjectDetails/c-simple-trading-algorithm-development" target="_blank">C#</a></li>
              <li><a href="https://streams.lykke.com/Project/ProjectDetails/python-simple-trading-algorithm-development" target="_blank">Python</a></li>
              <li><a href="https://streams.lykke.com/Project/ProjectDetails/any-language-simple-trading-algorithm-development" target="_blank">Other languages</a></li>
            </ul>
            <h3>API Trading Fees</h3>
            <p>The Lykke Exchange has variable fees depending on several factors. Please see the full <a href="/trading-conditions" target="_blank">fee schedule</a> for details.</p>

                   
          </div>
        </div>
      </div>
    </section>
  </article>

  @@include('./common/_footer.html')
  @@include('./common/_footerscripts.html')

</body>

</html>
