<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>Lykke Exchange Public API – Getting Started</title>
  @@include('./common/_headincludes.html')
</head>

<body>

  @@include('./common/_sidebarmenu.html')
  @@include('./common/_headercontainer.html')
  @@include('./common/_headernavcontainer.html')

  <article class="content page">
    <section class="section section--lead section--padding">
      <div class="container text">
        <div class="row">
          <div class="col-sm-8 automargin">
            <h2>Introduction</h2>
            
            <p>Lykke has developed a Blockchain Integration Layer, an abstraction able to connect any blockchain to the Lykke Wallet platform. The outline and requirements below describe the contract between Lykke Wallet and any given blockchain, and provide the necessary steps for a developer to integrate their token with the platform.</p>  
            
            <p>This document might be updated from time to time according to developers feedback. If you have questions or comments, please contact @olegzhelenkov in the <a href="https://t.me/LykkeDev">Lykke Dev</a> telegram chat. </p>
        
            <h2>Common requirements</h2>
            <p>All services which implement the blockchain-specific part of the interface must meet the following constraints:</p>
            <h3>Technologies</h3>
            <ul>
                <li>Source code should be written in one of the given languages: C# (.net Core), Java, C/C++, Javascript (Node), or Python</li>
                <li>If C# is used, services should be based on the <a href="https://github.com/LykkeCity/lykke.dotnettemplates/tree/master/Lykke.Service.LykkeService" class="external-link" rel="nofollow">LykkeService template</a></li>
                <li>If persistent storage is needed, Azure Storage should be used</li>
                <li>If many indexes are needed, MongoDB should be used</li>
                <li>Caching should be done through Redis</li>
            </ul>
            <h3>Application Design</h3>
            <ul>
                <li>The application should contain a dedicated repositories layer, in which all interaction with Azure Storage, Mongo DB and Redis should be encapsulated. The rest of the app should depend only on abstractions of these repositories (with an exception for DI container configuration)</li>
                <li>All atomic idempotent operations with external services (storage, cache, web-services) should be retried in case of transient failures (HTTP status code 400, 409, 412 are not considered transient failures)</li>
            </ul>
            <h3>Settings</h3>
            <ul>
                <li>The application should read its settings from the URL or local file specified in the SettingsUrl environment variable. The path to the file (URL or local) should be determined automatically<br></li>
                <li>Settings should be provided in the JSON format</li>
                <li>Settings should contain a NetworkType field in the root element, if this is applicable for the given blockchain. Available values for this field are: <strong><code>Test</code></strong> and <code><strong>Main</strong></code>.</li>
                <li>At a minimum, logs and data connection strings should be specified in the different settings fields. More finely-grained separation is at your discretion.</li>
                <li>When HTTP status code 403 is received as response to an application request to Azure Storage, settings should be reloaded and the request should be repeated</li>
                <li>If the application is implemented using C#, the <a href="https://github.com/LykkeCity/LykkeSettingsParser" class="external-link" rel="nofollow">Lykke.SettingsReader</a> Nuget package should be used to read the settings</li>
            </ul>
            <h3>Logs</h3>
            <ul>
                <li>At least Info, Warning, Error and Monitor logging levels should be distinguished in the application</li>
                <li>The application should log all unhandled failures to the Error logging level</li>
                <li>All failed requests to the storage or cache (if applicable) should be logged to the Error logging level, with the entity as the context, only after all retries are done</li>
                <li>The application should log a startup and shutdown message at the Monitor logging level with the messages "Started" and "Terminating" respectively</li>
                <li>All log entries should be logged on stdout in the format <code>"{time:yyyy-MM-dd HH:mm:ss:fff} [{level}] {action description}:{context} - {message}"</code>
                <li>All log entries to the Azure Table storage should take the format:
                    <ul>
                        <li><strong>DateTime</strong>: DateTime - moment when the entry is logged</li>
                        <li><strong>Level</strong>: string: {info, warning, error, monitor} - log level of the entry</li>
                        <li><strong>Env</strong>: string - ENV_INFO environment variable value</li>
                        <li><strong>Version</strong>: string - version of the app</li>
                        <li><strong>Component</strong>: string - component, where the entry was logged (usually - class name)</li>
                        <li><strong>Process</strong>: string - process, in which entry was logged (usually - method name)</li>
                        <li><strong>Context</strong>: string - any usable data</li>
                        <li><strong>Type</strong>: string - type of the exception, if any</li>
                        <li><strong>Stack</strong>: string - call stack of the exception, if any</li>
                        <li><strong>Message</strong>: string - a message</li>
                    </ul>
                </li>
                <li>The application should log Warning, Error and Monitor levels to the Azure Storage Queue. 
                    <ul>
                        <li>The Queue name should be taken from the SlackNotifications.AzureQueue.QueueName settings field</li>
                        <li>The connection string to the Azure Storage Queue should be taken from the SlackNotifications.AzureQueue.ConnectionString settings field</li>
                        <li>Messages should be serialized as JSON with the following structure:</li>
                        <pre><code class="language-javascript">
  {
   // for Error, Warning, Monitor log levels respectively
   "type": "{Errors|Warning|Monitor}",

   // for Error, Warning, Monitor log levels respectively
   "sender": "{:exclamation:|:warning:|:information_source:}",
   "message": "a message"
  }
                        </code></pre>
                    </ul>
                </li>
            </ul>
            <ul>
              <li>
                  <p>If app is implemented using C#, <a href="https://github.com/LykkeCity/CommonDotNetLibraries">Lykke.Common</a>, <a href="https://github.com/LykkeCity/Lykke.Logs">Lykke.Logs</a> and <a href="https://www.nuget.org/packages/Lykke.SlackNotification.AzureQueue/">Lykke.SlackNotification.AzureQueue</a> Nuget packages should be used to write the logs</p>
              </li>
            </ul>
            <h3>Deployment</h3>
            <ul>
                <li>A step-by-step deployment guide should be provided</li>
            </ul>
            <h2>Architecture</h2>
            <p>The Blockchain Integration Layer affects the following modules:</p>
            <ul>
              <li>Common</li>
              <ul>
                <li>Lykke Wallet - the platform into which the blockchains are integrated</li>
              </ul>
              <li>Blockchain-specific (should be implented for the given blockchain)</li>
              <ul>
                <li>Blockchain.SignService - creates the wallets and imlements transaction signing</li>
                <li>Blockchain.Api - implements a unified adapter to the blockchain node</li>
              </ul>
            </ul>
            <h3>Components</h3>
            <img src="img/integrating-blockchain-components.png">
            <h3>Client use cases</h3>
            <img src="img/integrating-blockchain-usecases.png">
            <h3>Asset flows</h3>
            <img src="img/integrating-blockchain-assetsflow.png">
            <h3>Transaction states</h3>
            <img src="img/integrating-blockchain-transactionstates.png">
            <h3>Wallet creation</h3>
            <img src="img/integrating-blockchain-createwallets.png">
            <h3>Cash-in</h3>
            <img src="img/integrating-blockchain-cashin.png">
            <h3>Cash-out</h3>
            <img src="img/integrating-blockchain-cashout.png">
            
            
            <h2>Interface</h2>
            <h3>Common</h3>
            <p>All APIs described below should follow these implementation rules, unless otherwise specified</p>
            <h3>Protocol</h3>
            <p>HTTP REST API</p>
            <h3>General</h3>
            <ul>
              <li>In case of an error with a 4XX or 5XX HTTP status code, the API should return a response with the following format:
              <pre><code class="language-javascript">
  {
    // General error message, or summary
    // Can be empty
    "errorMessage": "string",
 
    // Errors related to the input model
    // Can be empty
    "modelErrors": {
 
        // Collection of errors, related to a 
        // particular field of the input model
        "&lt;field-name&gt;": [            
            "string",
            ...
        ]
    }

  }
                        </code></pre>
              </li>
              <li>APIs should use the following HTTP status codes:</li>
              <ul>
                <li>200 OK - request was completed successfully</li>
                <li>400 Bad Request - invalid input data</li>
                <li>500 Internal Server Error - all other server errors</li>
              </ul>
            </ul>
            <h3>Methods</h3>
            <h4>[GET] /api/isalive</h4>

          <p>Should return general service information. Used to check if the service is running.</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
  {
    // Name of the service
    "name": "string",
    // Version of the service
    "version": "string",
    // ENV_INFO environment variable value
    "env": "string",
    // Flag, which indicates if the service is built 
    // with the debug configuration or not
    "isDebug": boolean
}

          </code></pre>

            <h3>&lt;BlockchainName&gt;.SignService</h3>
            <h3>Abstract</h3>
            <ul>
              <li>This service should implement the abstract interface for the wallets (address) creation and transaction signing for the blockchain to be integrated.</li> 
              <li>The service shouldn’t store any sensitive data, such as addresses or private keys.</li>
              <li>The service shouldn’t depend on the blockchain node.</li>
              <li>The service will be invoked by the Lykke platform to provide blockchain integration.</li>
            </ul>
              
            <h3>Methods</h3>

            <h4>[POST] api/wallets</h4>
            <p>This method should create a new wallet (address) in the blockchain. This is a deposit wallet and it will be used as the client's personal transit address to detect cashin events. This address will be displayed to the user in the app as the QR-code. The address should be able to receive funds, after a cashin event the funds will be transferred to the hot wallet.</p>

            <p>Body: n/a</p>
            <p>Response: 200 OK</p>
             <pre><code class="language-javascript">
  {
    // Private key, which will be used by Lykke platform to
    // sign transactions by the [POST] /api/sign
    "privateKey": "string",
    // Address which identifies the wallet in the blockchain
    "publicAddress": "string",
}

          </code></pre>

            
            <h4>[POST] api/sign</h4>
            <p>Should sign the given transaction with the given private key</p>
            <p>Body:</p>
            <pre><code class="language-javascript">
{
    // Private keys, which were returned by the 
    // [POST] /api/wallets. Multiple keys can be used
    // for transactions with multiple inputs 
    "privateKeys": [
        "string"
    ],
 
    // The transaction context in the blockchain- 
    // specific format, which was returned by the
    // Blockchain.Api class
    // [POST] /api/transactions or [PUT] /api/transactions
    "transactionContext": "string"
 }

            </code></pre>
            <p>Response: 200 OK</p>
            <pre><code class="language-javascript">
{
    // Signed transaction, which will be used to broadcast 
    // the transaction by the Blockchain.Api service
    // [PUT] /api/transactions/broadcast
    "signedTransaction": "string"
}

            </code></pre>
            

            <h3>&lt;BlockchainName&gt;.API</h3>
            <h3>Abstract</h3>
            <ul>
              <li>This service should implement the abstract interface for transaction management, balance monitoring and utility functions for the new blockchain.</li>
              <li>The service should use the blockchain node to implement given interface.</li>
              <li>The service can store any intermediate data in the persistent storage or in the cache to provide functional and non-functional requirements.</li>
              <li>The service will be invoked by the Lykke platform to provide blockchain integration.</li>
            </ul>
            <h3>Methods</h3>
            
          <h4>[GET] /api/assets?take=integer&amp;[continuation=string]</h4>
          <p>Should return batch blockchain assets (coins, tags). Amount of the returned assets should not exceed the value of the <code>take</code> parameter. Optional <code>continuation</code> parameter should contain the context of the previous request, to let Blockchain.Api resume reading of the assets from the previous position. If <code>continuation</code> is empty, assets should be read from the beginning.</p>

          <p>Response:</p>
          <pre><code class="language-javascript">
  {
    // Continuation token, that
    // can be used to continue data reading
    // from the current position.
    // Should be null or empty string if no more data
    // to read.
    "continuation": "string",
 
    // Current batch of the items
    // Should be empty array if there are no items
    "items": 
    [
        {
            // Asset ID
            "assetId": "string",
 
            // Asset address, which identifies an asset in the blockchain, 
            // if applicable for the given blockchain. Can be empty.
            "address": "string",
 
            // Asset display name
            "name": "string",
 
            // Asset accuracy - maximum number of significant decimal digits 
            // to the right of the decimal point in the asset amount.
            // Valid range: [0..28]
            "accuracy": integer
        }
    ]
}

          </code></pre>


          <h4>[GET] /api/assets/{assetId}</h4>

          <p>Should return specified asset (coin, tag)</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
  {
    // Asset ID
    "assetId": "string",
    
    // Asset address, which identifies 
    // asset in the blockchain, if applicable.
    // Can be empty
    "address": "string",
 
    // Asset display name
    "name": "string",
 
    // Asset accuracy - maximum number
    // of significant decimal digits to the right 
    // of the decimal point in the asset amount.
    // Valid range: [0..28]
    "accuracy": "integer"
}

          </code></pre>
          <p>Errors:</p>
          <ul>
            <li>204 No Content - specified asset not found</li>
          </ul>

          <h4>[GET] api/addresses/{address}/is-valid</h4>
          <p>Should check and return wallet address validity</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
    {
      // Flag, which indicates whether or not the address is valid
       "isValid": &lt;true|false&gt;
    }
          </code></pre>

          <h4>[POST] /api/balances/{address}/observation</h4>
          <p>Should remember the wallet address to observe the wallet balance
          and return it in the [GET] /api/balances if the balance is nonzero.</p>
          <p>Errors:</p>
          <ul>
            <li>409 Conflict - specified address is already observed.</li>
          </ul>

          <h4>[DELETE] /api/balances/{address}/observation</h4>
          <p>Should forget the wallet address and stop observing its balance.</p>
          <p>Errors:</p>
          <ul>
            <li>204 No content - specified address is not observed.</li>
          </ul>

          <h4>[GET] /api/balances?take=integer&amp;[continuation=string]</h4>
          <p>Should return balances of the observed wallets, as long as the wallets have nonzero balances. Balance observation is enabled by the [POST] /api/balances/{address}/observation and disabled by the [DELETE] /api/balances/{address}/observation.</p>
          <p>The number of returned wallets should not exceed take. The optional continuation parameter contains context of the previous request, to let Blockchain.Api resume reading the balances from the previous position. If continuation is empty, balances should be read from the beginning.</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
{
    // Continuation token, that
    // can be used to continue data reading
    // from the current position.
    // Should be null or empty string if no more data
    // to read.
    "continuation": "string",
 
    // Current batch of the items
    // Should be an empty array if there are no items
    "items":
    [
        {
            // Wallet address
            "address": "string",
 
            // Asset ID
            "assetId": "string",
 
            // Balance is integer as string, aligned 
            // to the asset accuracy. Actual value can be 
            // calculated as 
            // x = sourceBalance * (10 ^ asset.Accuracy)
            "balance": "string"
        }
    ]
}

          </code></pre>

          <h4>[POST] /api/transactions</h4>
          <p>Should build an unsigned transaction. If a transaction with the specified operationId has already been built, it should be ignored and regular response (as in the first request) should be returned.</p>
          <p>Body:</p>
          <pre><code class="language-javascript">
{
    // Lykke unique operation ID
    "operationId": "guid",
 
    // Source address
    "fromAddress": "string",
 
    // Destination address
    "toAddress": "string",
 
    // Asset ID to transfer
    "assetId": "string",
    
    // Amount to transfer. Integer as string, aligned 
    // to the asset accuracy. Actual value can be 
    // calculated as 
    // x = amount / (10 ^ asset.Accuracy) 
    "amount": "string",
 
    // Flag which indicates whether or not the fee 
    // should be included in the specified amount
    "includeFee": "boolean"
}
          </code></pre>    
          <p>Response:</p>
          <pre><code class="language-javascript">
{
    // The transaction context in the blockchain 
    // specific format, which will be passed to the
    // Blockchain.SignService [POST] /api/sign
    "transactionContext": "string"
}
          </code></pre>
          <p>Errors:</p>
          <ul>
            <li>406 Not Acceptable - transaction can’t be built due to an unacceptable amount (e.g. too small).</li>
          </ul>

          <h4>[PUT] /api/transactions</h4>

          <p>Should rebuild an unsigned transaction with the specified fee factor, if applicable for the given blockchain. This should be implemented, if blockchain allows transaction rebuilding (substitution) with a new fee.</p>
          <p>This will be called if a transaction is stuck in the "in-progress" state for too long, to attempt to execute the transaction with a higher fee. [POST] /api/transactions with the same operationId should precede the call to this method. Transaction should be rebuilt with parameters that were passed to the [POST] /api/transactions.</p>
          <p>Body:</p>
          <pre><code class="language-javascript">
{
    // Lykke unique operation ID
    "operationId": "guid",
 
    // Multiplier for the original transaction fee. 
    // Blockchain should multiply the original fee
    // by this factor.
    // x = feeFactor * regularFee
    "feeFactor": float
}
          </code></pre>
          <p>Response:</p>
          <pre><code class="language-javascript">
{
    // The transaction context in the blockchain 
    // specific format, which will be passed to the
    // Blockchain.SignService [POST] /api/sign
    "transactionContext": "string"
}
          </code></pre>
          <p>Errors:</p>
          <ul>
            <li>501 Not Implemented - function is not implemented in the blockchain.</li>
            <li>406 Not Acceptable - transaction can’t be built due to an unacceptable amount (e.g. too small).</li>
          </ul>
          <h4>[POST] /api/transactions/broadcast</h4>
          <p>Should broadcast the signed transaction.</p>
          <p>Body:</p>
          <pre><code class="language-javascript">
{
    // Lykke unique operation ID
    "operationId": "guid",
 
    // The signed transaction returned by the
    // Blockchain.SignService [POST] /api/sign
    "signedTransaction": "string"
}
          </code></pre>
          <p>Errors:</p>
          <ul>
            <li>409 Conflict - transaction with specified operationId and signedTransaction has already been broadcasted.</li>
          </ul>
          <h4>[GET] /api/transactions/broadcast/{operationId}</h4>
          <p>Should return the broadcasted transactions with the given operationId. All transactions broadcasted by the [POST] /api/transactions/broadcast should be available here.</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
{
    // Lykke unique operation ID.
    "operationId": "guid",
 
    // State of the transaction
    // enum values:
    // - inProgress: transaction is being in-progress
    // - completed: transaction is completed for sure
    // - failed: transaction is failed, if applicable for the
    //     particular blockchain
    "state": "enum",
 
    // Transaction timestamp, formatted as ISO 8601 in UTC
    "timestamp": "datetime",
 
    // Amount, excluding the fee.
    // Integer as string, aligned to the asset accuracy. 
    // Actual value can be calculated as 
    // x = sourceAmount * (10 ^ asset.Accuracy)
    // Should be non empty if the state is Completed
    "amount": "string",
 
    // Fee. Integer as string, aligned 
    // to the asset accuracy. Actual value can be 
    // calculated as 
    // x = sourceFee * (10 ^ asset.Accuracy)
    // Should be non empty if the state is Completed
    "fee": "string",
 
    // Transaction hash as base64 string.
    // Can be empty
    // Should be non empty if the state is Completed
    "hash": "string",
 
    // Error description
    // Can be empty
    // Should be non empty if the state is Error
    "error": "string"
}
          </code></pre>
          <p>Errors:</p>
          <ul>
            <li>204 No content - specified transaction not found</li>
          </ul>
          <h4>[DELETE] /api/transactions/broadcast/{operationId}</h4>
          <p>Should remove specified transaction from the broadcasted transactions. Should affect transactions returned by the [GET] /api/transactions/broadcast/{operatioId}.</p>
              <p>Errors:</p>
          <ul>
            <li>204 No content - specified transaction not found</li>
          </ul>
          <h4>[POST] /api/transactions/history/from/{address}/observation</h4>
          <p>Should start observation of the transactions that transfer fund from the address. Should affect result of the [GET] /api/transactions/history/from/{address}.</p>
          <p>Errors:</p>
          <ul>
            <li>409 Conflict: transactions from the address are already observed.</li>
          </ul>
          <h4>[POST] /api/transactions/history/to/{address}/observation</h4>
          <p>Should start observation of the transactions that transfer funds to the specified address. Should affect result of the [GET] /api/transactions/history/to/{address}.</p>
          <p>Errors:</p>
          <ul>
          <li>409 Conflict: transactions to the address are already observed.</li>
          </ul>
          <h4>[GET] /api/transactions/history/from/{address?take=integer&amp;[afterHash=string]</h4>
          <p>Should return completed transactions that transfer funds from the specified address and that were broadcasted after the transaction with the hash equal to the afterHash.</p>
          <p>If afterHash is empty, transactions should be read from the beginning.
          Should include transactions broadcasted not using this API.
          If there are no transactions to return, an empty array should be returned.
          Amount of the returned transactions should not exceed the take parameter.</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
[
    {
        // Lykke unique operation ID.
        // Can be empty.
        // Should be not empty for transactions that
        // broadcasted using this Blockchain.Api
        "operationId": "guid",
 
        // Transaction moment as ISO 8601 in UTC
        "timestamp": "datetime",
 
        // Source address
        "fromAddress": "string",
 
        // Destination address
        "toAddress": "string",
 
        // Asset ID
        "assetId": "string"
 
        // Amount without fee. Is integer as string, aligned 
        // to the asset accuracy. Actual value can be 
        // calculated as 
        // x = sourceAmount * (10 ^ asset.Accuracy)
        "amount": "string",
 
        // Transaction hash as base64 string
        "hash": "string"
    }
]
          </pre></code>
 
          <h4>[GET] /api/transactions/history/to/{address}/?take=integer&amp;[afterHash=string]</h4>
          <p>Should return completed transactions that transfer funds to the speicfied address and that were broadcasted after the transaction with the hash equal to the afterHash.</p>
          <p>If afterHash is empty, transactions should be read from the beginning.
          Should include transactions broadcasted not using this API.
          If there are no transactions to return, an empty array should be returned.
          Amount of the returned transactions should not exceed the take parameter.</p>
          <p>Response:</p>
          <pre><code class="language-javascript">
[
    {
        // Lykke unique operation ID.
        // Can be empty.
        // Should be not empty for transactions that
        // broadcasted using this Blockchain.Api
        "operationId": "guid",
 
        // Transaction moment as ISO 8601 in UTC
        "timestamp": "datetime",
 
        // Source address
        "fromAddress": "string",
 
        // Destination address
        "toAddress": "string",
 
        // Asset ID
        "assetId": "string"
 
        // Amount without fee. Is integer as string, aligned 
        // to the asset accuracy. Actual value can be 
        // calculated as 
        // x = sourceAmount * (10 ^ asset.Accuracy)
        "amount": "string",
 
        // Transaction hash as base64 string
        "hash": "string"
    }
]
</code></pre>









            </ul>
<h2>Example Implementation:</h2>
<h3>LiteCoin</h3>

<p><a href="https://github.com/LykkeCity/Lykke.Service.LiteCoin.API">https://github.com/LykkeCity/Lykke.Service.LiteCoin.API</a></p>
<p><a href="https://github.com/LykkeCity/Lykke.Service.LiteCoin.Sign">https://github.com/LykkeCity/Lykke.Service.LiteCoin.Sign</a></p>
          </div>
        </div>
      </div>
    </section>
  </article>

  @@include('./common/_footer.html')
  @@include('./common/_footerscripts.html')

</body>

</html>




















<div id="main-content" class="wiki-content">
    <p></p>
    